<%=@player_1_name%> VS <%= @player_2_name %>
<br />
<%=@player_2_name%> HP = 100

<!-- <button type="button" onclick="alert('You have attacked <%=@player_2_name%>')">Attack!</button> -->

<form action="/attack_msg"> <!-- should i use method="post" instead????-->
  <input type="submit" value="Attack!" />
</form>
